[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "plugin/zsh-syntax-highlighting"]
	path = plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "plugins/zsh-apple-touchbar"]
	path = plugins/zsh-apple-touchbar
	url = https://github.com/floor114/zsh-apple-touchbar
[submodule "plugins/z"]
	path = plugins/z
	url = https://github.com/rupa/z.git
[submodule "/Users/paul/.dotfiles/bin/dot"]
	path = /Users/paul/.dotfiles/bin/dot
	url = https://github.com/ssh0/dot
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "cheaters"]
	path = cheaters
	url = https://github.com/ttscoff/cheaters.git
[submodule "pdf-tools"]
	path = pdf-tools
	url = https://github.com/politza/pdf-tools.git
